            /*Achtergronden&afbeeldingen*/
            
            .bg {
                background-image: url(../assets/images/webdesign.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: 55% auto;
            }
            
            .bg2 {
                background-image: url(../assets/images/wb.png);
                background-repeat: repeat-y;
                background-position: center top;
                background-size: 40% auto;
            }
            /*Boxes*/
            
            .box1 {
                font-family: 'Wire One', 'sans-serif';
                font-size: 1200%;
                line-height: 1.42;
                width: 90%;
                height: 300px;
                border: 14pt solid #ccc7c4;
                padding: 5px 0px 0 100px;
                margin: 180px 0px 0px 30px;
                position: left;
                z-index: 1;
                display: inline-block;
            }
            
            .box2 {
                line-height: 1.42;
                width: 90%;
                height: 700px;
                border: 14pt solid #ccc7c4;
                margin: 0px 0px 0px 74px;
                position: left;
                z-index: 1;
                z-index: -1;
                float: left;
            }
            
            .box3 {
                line-height: 1.42;
                width: 87%;
                height: 500px;
                border: 10pt solid #ccc7c4;
                margin: 50px 0 0 90px;
                padding: 10px 20px 10px 20px;
                float: left;
                position: center;
                z-index: 1;
                display: inline-block;
            }
            
            .box4 {
                line-height: 1.42;
                width: 90%;
                height: 500px;
                border: 10pt solid #ccc7c4;
                padding: 10px 10px 10px 10px;
                float: left;
                margin: 0px 0px 0px 30px;
                position: center;
                z-index: 1;
                display: inline-block;
            }
            
            .pinkbox {
                border: 10pt solid #c86d5f;
                width: 100%;
                height: 60%;
                z-index: 1;
                font-family: 'Wire One', sans-serif;
                font-size: 60pt;
                padding: 0px 5px 0 10px;
                margin: 50pt 0 0 0;
            }
            
            box5 {
                border: 8pt solid #ccc7c4;
                width: 70%;
                height: 60%;
                z-index: 1;
                font-family: 'Wire One', sans-serif;
                font-size: 40pt;
                color: #c86d5f;
                padding: 5% 0% 0% 0%;
                margin: 25% 0 0 0;
            }
            /*TYPOGRAFIE*/
            
            h1 {
                font-family: 'Advent pro', sans-serif;
            }
            
            h1.portfolio {
                font-size: 80pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                margin: 190pt 0pt 0pt 80pt;
            }
            
            h1.aanpak {
                color: white;
                font-size: 20pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                margin: 40pt 5pt 0pt 5pt;
            }
            
            h1.over {
                color: white;
                font-size: 13pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                margin: 50pt 10pt 0pt 10pt;
            }
            
            h1.footer {
                color: #ccc7c4;
                font-size: 14pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                margin: 0px 0px 20px 0px;
                padding: auto;
            }
            
            h4 {
                color: #ccc7c4;
                font-family: 'Wire One', 'sans-serif';
                font-size: 80px;
            }
            
            h1.smlf {
                font-size: 40pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                padding: 0px 0px 0px 30px;
                margin: 0pt 0pt 0pt 0pt;
            }
            
            h1.contact {
                font-size: 40pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                margin: 190pt 0pt 0pt 80pt;
            }
            
            h1.locatie {
                font-size: 40pt;
                font-weight: 20;
                font-style: Ultra Light;
                line-height: 1.42;
                margin: 100pt 0pt 0pt 5pt;
            }
            
            h1.team {
                font-size: 30pt;
                color: white;
                font-style: Ultra Light;
                line-height: 1.42;
                position: center;
                padding: 0px 0px 0px 240px;
            }
            
            h2 {
                font-family: 'Advent pro', sans-serif;
                color: #c86d5f;
                padding: 0px 0px 0px 290px;
            }
            
            h3 {
                font-family: 'Wire One', 'sans-serif';
                font-size: 800%;
                color: #c86d5f;
                padding: 130px 1px 1px 1px;
            }
            /* Navigatie*/
            
            titelnav {
                width: 50%;
            }
            
            li a {
                display: block;
                color: #000;
                padding: 20px 19px;
                text-decoration: none;
            }
            
            nav {
                font-family: 'Advent pro', sans-serif;
                font-size: 16pt;
                font-style: Ultra light;
                padding: 0px 0px 0 30px;
                text-align: center;
                width: 100%;
                margin: 30% 35% 0% 0%;
                z-index: -1;
            }
            
            nav>ul {
                list-style: none;
                padding: 0;
                margin: 0 0 350px 0;
                display: inline-block;
                background: #ccc7c4;
                border-radius: 0px;
                z-index: -1;
                float: left;
            }
            
            nav>ul>li {
                float: left;
                width: 80px;
                line-height: 20px;
                position: relative;
                text-transform: uppercase;
                font-size: 10px;
                color: rgba(0, 0, 0, 0.7);
                cursor: pointer;
            }
            
            nav ul {
                list-style: none;
                text-align: center;
            }
            
            nav ul li {
                display: inline-block;
            }
            
            nav ul li a {
                display: block;
                padding: 8px;
                text-decoration: none;
                color: #3e3230;
                font-weight: 800;
                text-transform: uppercase;
                margin: 0 0px;
            }
            
            nav ul li a,
            nav ul li a:after,
            nav ul li a:before {
                transition: all .5s;
            }
            
            nav ul li a:hover {
                color: #555;
            }
            
            nav>ul>li:hover {
                background: #ccc7c4;
                border-radius: 0px;
            }
            
            ul.drop-menu {
                position: absolute;
                top: 100%;
                left: 0%;
                width: 100%;
                padding: 0;
            }
            
            ul.drop-menu li {
                background: ccc7c4;
                color: rgba(255, 255, 255, 0.7);
            }
            
            ul.drop-menu li:hover {
                background: #ccc7c4;
            }
            
            ul.drop-menu li:last-child {
                border-radius: 0px 0px 0px 0px;
            }
            
            ul.drop-menu li {
                display: none;
            }
            
            li:hover>ul.drop-menu li {
                display: block;
            }
            
            nav.stroke ul li a,
            nav.fill ul li a {
                position: relative;
            }
            
            nav.stroke ul li a:after,
            nav.fill ul li a:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: #aaa;
                height: 1px;
                z-index: -1;
            }
            
            nav.stroke ul li a:hover:after {
                width: 80%;
                z-index: -1;
            }
            
            nav.fill ul li a {
                transition: all 2s;
            }
            
            nav.fill ul li a:after {
                text-align: left;
                content: '.';
                margin: 0;
                opacity: 0;
            }
            
            nav.fill ul li a:hover {
                color: red;
                z-index: 1;
            }
            
            nav.fill ul li a:hover:after {
                z-index: -10;
                animation: fill 1s forwards;
                -webkit-animation: fill 1s forwards;
                -moz-animation: fill 1s forwards;
                opacity: 1;
            }
            /* Contact */
            
            * {
                box-sizing: border-box;
            }
            
            body {
                height: 100vh;
                width: 100%;
                font-family: "'Work Sans',", sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            
            a {
                font-size: 1.5em;
                text-decoration: none;
            }
            
            .btn {
                position: relative;
                padding: 0.25em 0.5em;
                color: #252525;
            }
            
            .btn:before,
            .btn:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border: 2px solid #252525;
                -webkit-transition: -webkit-transform 0.3s ease-in;
                transition: -webkit-transform 0.3s ease-in;
                transition: transform 0.3s ease-in;
                transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
            }
            
            .btn:hover:before,
            .btn:hover:after {
                -webkit-transition: -webkit-transform 0.3s ease-out;
                transition: -webkit-transform 0.3s ease-out;
                transition: transform 0.3s ease-out;
                transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
            }
            
            .btn:hover:before {
                -webkit-transform: translate3d(-3px, 3px, 0);
                transform: translate3d(-3px, 3px, 0);
            }
            
            .btn:hover:after {
                -webkit-transform: translate3d(3px, -3px, 0);
                transform: translate3d(3px, -3px, 0);
            }
            /*slides */
            
            .slide img {
                -webkit-filter: grayscale(0) blur(0);
                filter: grayscale(0) blur(0);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            
            .slide:hover img {
                -webkit-filter: grayscale(90%) blur(3px);
                filter: grayscale(90%) blur(3px);
            }
            
            .slides {
                padding: 0;
                width: 350px;
                height: 350px;
                /*display: block;*/
                margin: 230px 0 0 50px;
                position: relative;
            }
            
            .slides1 {
                padding: 0;
                width: 350px;
                height: 350px;
                /*display: block;*/
                margin: 140px 0px 0px 80px;
                position: relative;
            }
            
            .slides input {
                display: none;
            }
            
            .slides1 input {
                display: none;
            }
            
            .slide-container {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
            }
            
            .slide-container1 {
                display: block;
                height: 100%;
                width: 100%;
            }
            
            .slide {
                top: 0;
                opacity: 0;
                width: 400px;
                height: 400px;
                display: block;
                position: absolute;
                transform: scale(0);
                transition: all .7s ease-in-out;
            }
            
            .slide img {
                width: 100%;
                height: 100%;
            }
            
            .slide:hover+.nav label {
                opacity: 0.5;
            }
            
            .nav label:hover {
                opacity: 1;
            }
            
            .nav .next {
                right: 0;
            }
            
            input:checked+.slide-container .slide {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s ease-in-out;
            }
            
            input:checked+.slide-container .nav label {
                display: block;
            }
            
            input:checked+.slide-container1 .slide {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s ease-in-out;
            }
            
            input:checked+.slide-container1 .nav label {
                display: block;
            }
            
            .nav-dots {
                width: 100%;
                bottom: 9px;
                height: 11px;
                display: block;
                position: absolute;
                padding: 5px 10px 0 10px;
                text-align: center;
            }
            
            .nav-dots .nav-dot {
                top: -5px;
                width: 11px;
                height: 11px;
                margin: 0 10px 0 0;
                position: relative;
                border-radius: 100%;
                display: inline-block;
                background-color: #ccc7c4;
            }
            
            .nav-dots .nav-dot:hover {
                cursor: pointer;
                background-color: #3e3230;
            }
            
            input#img-01:checked~.nav-dots label#img-dot-1,
            input#img-02:checked~.nav-dots label#img-dot-2,
            input#img-03:checked~.nav-dots label#img-dot-3,
            input#img-1:checked~.nav-dots label#img-dot-1,
            input#img-2:checked~.nav-dots label#img-dot-2,
            input#img-3:checked~.nav-dots label#img-dot-3,
            input#img-4:checked~.nav-dots label#img-dot-4,
            input#img-5:checked~.nav-dots label#img-dot-5,
            input#img-6:checked~.nav-dots label#img-dot-6,
            input#img-7:checked~.nav-dots label#img-dot-7,
            input#img-8:checked~.nav-dots label#img-dot-8,
            input#img-9:checked~.nav-dots label#img-dot-9,
            input#img-10:checked~.nav-dots label#img-dot-10,
            input#img-11:checked~.nav-dots label#img-dot-11,
            input#img-12:checked~.nav-dots label#img-dot-12 {
                background: #3e3230;
            }
            
            .hovereffects {
                -webkit-filter: grayscale(0) blur(0);
                filter: grayscale(0) blur(0);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            
            .hover10 figure:hover img {
                -webkit-filter: grayscale(100%) blur(3px);
                filter: grayscale(100%) blur(3px);
            }
            
            .hover10 figure:hover .text {
                opacity: 0.6;
                text-align: justify;
                color: white;
                font-size: 16px;
                font-weight: 100;
                font-family: "Advent+pro", sans-serif;
                padding: 5%;
                position: relative;
                z-index: 200;
            }
            
            .slideTextLeft {
                font-family: 'Wire One';
                font-size: 60px;
                color: #c86d5f;
                position: absolute;
                top: 70px;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                display: none;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                z-index: 200;
            }
            
            .slide:hover .slideTextLeft {
                display: block;
            }
            
            .slide:hover img {
                -webkit-filter: grayscale(100%) blur(3px);
                filter: grayscale(100%) blur(3px);
            }
            /* Social Media*/
            
            .sml {
                display: inline-block;
                position: absolute;
                margin: 230px 0px 0px 200px;
                padding: 0px 0px 0px 260px;
                width: 100%;
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            /* Icons */
            
            ab {
                color: #fff;
                background: #ccc7c4;
                border-radius: 4px;
                text-align: center;
                text-decoration: none;
                font-family: 'Advent pro', sans-serif;
                position: relative;
                display: inline-block;
                width: 100px;
                height: 100px;
                padding-top: 12px;
                margin: 0px 40px 0px 0px;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                transition: sall .5s;
                -webkit-font-smoothing: antialiased;
                border-radius: 50%;
                padding: auto;
            }
            
            ab:hover {
                background: #c86d5f;
            }
            /* pop-up text */
            
            ab span {
                color: #666;
                position: relative;
                font-family: sans-serif;
                width: 30%;
                bottom: 50px;
                padding: 5px;
                z-index: -1;
                font-size: 14px;
                border-radius: 2px;
                background: #fff;
                visibility: hidden;
                opacity: 0;
                -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            /* pop-up text arrow */
            
            ab span:before {
                content: '';
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                bottom: 40px;
                left: 40px;
            }
            /* text pops up when icon is in hover state */
            
            ab:hover span {
                bottom: 50px;
                visibility: visible;
                opacity: 1;
            }
            /*formulier */
            
            formbod {
                position: absolute;
                background: #333;
                box-sizing: content-box;
                top: 50%;
                left: 50%;
                margin: -240px 0 0 -180px;
            }
            
            formtext {
                padding: 0 0 0px 0;
                display: block;
                font-family: Trebuchet MS;
                color: white;
                text-transform: uppercase;
            }
            
            .margin {
                margin: 25% 15%;
            }
            
             :focus {
                outline: none;
            }
            
            .inputGroup {
                position: relative;
                margin-bottom: 30px;
            }
            
            .inputGroup label {
                position: absolute;
                top: 0;
                left: 5px;
                pointer-events: none;
                transition: all 0.3s ease;
                font-size: 16px;
                font-family: Trebuchet MS;
                color: white;
                font-weight: 500;
                text-transform: uppercase;
            }
            
            .inputGroup input,
            .inputGroup textarea {
                display: block;
                width: 280px;
                border: none;
                border-bottom: 1px solid #757575;
                left: 25px;
                padding: 5px;
                font-family: Trebuchet MS;
                background: none;
                color: #ccc;
            }
            
            .inputGroup input:focus~label,
            .inputGroup input:valid~label,
            .inputGroup textarea:focus~label,
            .inputGroup textarea:valid~label {
                top: -20px;
                transition: all 0.3s ease;
                font-size: 13px;
            }
            
            .inputGroup input:focus~.inputBar:before,
            .inputGroup input:focus~.inputBar:after,
            .inputGroup textarea:focus~.inputBar:before,
            .inputGroup textarea:focus~.inputBar:after {
                width: 50%;
            }
            
            .inputGroup textarea {
                height: 100px;
                width: 280px;
                overflow: auto;
                resize: none;
            }
            
            .inputGroup .inputBar {
                position: relative;
                display: block;
                width: 280px;
            }
            
            .inputGroup .inputBar:before,
            .inputGroup .inputBar:after {
                content: "";
                display: block;
                position: absolute;
                width: 0px;
                background: white;
                height: 2px;
                transition: all 0.2s ease;
            }
            
            .inputGroup .inputBar:after {
                right: 50%;
            }
            
            .inputGroup .inputBar:before {
                left: 50%;
            }
            
            button {
                background-color: white;
                border: none;
                padding: 15px 0 50px 0px;
                margin: 0;
                width: 290px;
                color: #3c3c3c;
                text-transform: uppercase;
                font-family: Trebuchet MS;
                font-size: 15px;
                border-radius: 0px;
                position: relative;
                cursor: pointer;
            }
            
            button:hover {
                box-shadow: 0 4px #a1a1a1;
                top: 1px;
            }
            
            button:active {
                top: 2px;
                box-shadow: 0 0;
            }
            /*Verzenden button*/
            
            .btn {
                position: relative;
                padding: 0.25em 0.5em;
                color: white;
                margin: 0px 50px 50px 0px;
            }
            
            .btn:before,
            .btn:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border: 2px solid white;
                -webkit-transition: -webkit-transform 0.3s ease-in;
                transition: -webkit-transform 0.3s ease-in;
                transition: transform 0.3s ease-in;
                transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
                margin: 0px 0px 30px 0px;
            }
            
            .btn:hover:before,
            .btn:hover:after {
                -webkit-transition: -webkit-transform 0.3s ease-out;
                transition: -webkit-transform 0.3s ease-out;
                transition: transform 0.3s ease-out;
                transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
            }
            
            .btn:hover:before {
                -webkit-transform: translate3d(-3px, 3px, 0);
                transform: translate3d(-3px, 3px, 0);
            }
            
            .btn:hover:after {
                -webkit-transform: translate3d(3px, -3px, 0);
                transform: translate3d(3px, -3px, 0);
            }
            /*Google mapje*/
            
            .mapouter {
                overflow: hidden;
                height: 500px;
                width: 600px;
                padding: 20% 0% 0% 20%;
            }
            
            .gmap_canvas {
                background: none!important;
                height: 500px;
                width: 600px;
            }
            
            @import url('http://fonts.googleapis.com/css?family=Lato:300');
            @import url('http://weloveiconfonts.com/api/?family=entypo');
            * {
                margin: 0;
                padding: 0;
            }
            /* Footer */
            
            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
            section {
                text-align: center;
            }
            
            .footer #button {
                width: 20px;
                height: 20px;
                border: #c86d5f 12px solid;
                border-radius: 35px;
                margin: 0 auto;
                position: relative;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
            
            .footer #button:hover {
                width: 35px;
                height: 35px;
                border: black 12px solid;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
                position: relative;
            }
            
            .footer {
                bottom: 0;
                left: 0;
                position: fixed;
                width: 100%;
                height: 2em;
                overflow: hidden;
                margin: 0 auto;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
                z-index: 999;
            }
            
            .footer:hover {
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
                height: 10em;
            }
            
            .footertext {
                font-family: 'Advent pro', sans-serif;
                color: #a1a1a1;
                font-size: 25px;
                margin: 20px 0px 0px 82px;
            }
            
            .footer #container {
                margin-top: 5px;
                width: 100%;
                height: 100%;
                position: relative;
                top: 0;
                left: 0;
                background: #3A3A3A;
            }
            
            .footer #cont {
                position: relative;
                top: -45px;
                right: 190px;
                width: 150px;
                height: auto;
                margin: 0 auto;
            }
            
            .footer_center {
                width: 500px;
                float: left;
                text-align: center;
            }
            /* test */
            
            .sf-grid__row>div {
                border: transparent;
            }